body{
    background-image: url("/images/formBackground.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
button{
    font-size: 15px;
    padding: 2px;
    width: 13%;
    font-weight: bold;
}
.formBoxs{
    padding: 30px;
    margin: 30px;
    text-align: center;
    font-size: 20px;
}


